<div>
    <div>
        <div style="text-align: center;">
            <h1>Gauss-Jordan</h1>
            <p>Programa que resuelve sistemas de ecuaciones usando el método de Gauss-Jordan</p>
            <p>El programa supondrá que el número de ecuaciones es igual al número de incógnitas.</p>
            <div>
                <label for="numEcuaciones">Número de ecuaciones:</label>
                <input type="number" id="numEcuaciones" [(ngModel)]="col" (ngModelChange)="ingresarCoheficientes()" />
            </div>
            <div>
                <button style="margin-top: 1rem;" (click)="ingresarCoheficientes()">Ingresar coeficientes</button>
            </div>
        </div>
    </div>
    <div *ngIf="cartel">
        <form (ngSubmit)="validarYMostrarMatriz()">
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th *ngFor="let j of [].constructor(col); let i = index">
                                X{{ i + 1 }}
                            </th>
                            <th>Resultado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let fila of matriz; let i = index; trackBy: trackByIndex">
                            <td *ngFor="let columna of fila; let j = index; trackBy: trackByIndex">
                                <ng-container *ngIf="j < col; else equalsSign">
                                    <input type="number" [(ngModel)]="matriz[i][j]" name="matriz-{{ i }}-{{ j }}" />
                                </ng-container>
                                <ng-template #equalsSign>
                                    <input type="number" [(ngModel)]="matriz[i][j]" name="matriz-{{ i }}-{{ j }}" />
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <button type="submit">Resolver por Gauss-Jordan</button>
            </div>
        </form>
    </div>
    <hr />
    <div *ngIf="!matrizInvalida">
        <div>
            <h2>Iteración {{ iteracionActual + 1 }}: {{ iteraciones[iteracionActual].operacion }}</h2>
            <div class="table-container">
                <table>
                    <tr *ngFor="let fila of iteraciones[iteracionActual].matriz">
                        <td *ngFor="let columna of fila">{{ columna }}</td>
                    </tr>
                </table>
            </div>
            <div class="button-group">
                <button (click)="anteriorIteracion()" [disabled]="iteracionActual === 0">Anterior</button>
                <button (click)="siguienteIteracion()"
                    [disabled]="iteracionActual === iteraciones.length - 1">Siguiente</button>
            </div>
        </div>
        <hr>
        <h2>Soluciones</h2>
        <div class="solution">
            <div *ngFor="let columna of matrizSolucion; let i = index">
                <span>X<sub>{{ i + 1 }}</sub> = {{columna}}</span>
            </div>
        </div>
    </div>
</div>
<div class="container">
</div>