<div class="container">
    <h1>Método de Newton-Raphson Mejorado</h1>
    <form [formGroup]="form" (ngSubmit)="findRoot()">
        <div>
            <label for="function">Función f(x)*</label>
            <p class="field-info">• La función debe estar en términos de x.<br />• Funciones generales: absoluto - abs(argumento); potencia - pow(base, exponente); raíz cuadrada - sqrt(arg); raíz n-ésima - nthRoot(arg, n)<br />• Logaritmo: log(arg, base)<br />• Funciones trigonométricas: cos(arg), sin(arg), tan(arg), acos(arg), asin(arg), atan(arg)<br />• Las funciones trigonométricas utilizan radianes. Ej. cos((x-90)*(pi/180)) para cos(x-90) en grados<br />• Constantes: pi, e (Euler), phi (número áureo), tau (2*pi)</p>
            <input id="function" formControlName="function"
                placeholder="cos((x-90)*(pi/180))" />
        </div>
        <p>f(x)</p>
        <div id="function-latex" style="margin-top: 20px;"></div>
        <p>f'(x)</p>
        <div id="derivative-1-latex" style="margin-top: 20px;"></div>
        <p>f''(x)</p>
        <div id="derivative-2-latex" style="margin-top: 20px;"></div>
        <div>
            <label for="initialGuess">Aproximación inicial*</label>
            <input id="initialGuess" formControlName="initialGuess" placeholder="ej. 2" />
        </div>
        <div>
            <label for="tolerance">Tolerancia (%)*</label>
            <input id="tolerance" formControlName="tolerance" placeholder="ej. 10" />
        </div>
        <div>
            <label for="maxIterations">Máximo de iteraciones*</label>
            <input id="maxIterations" formControlName="maxIterations" placeholder="ej. 100" />
        </div>
        <div>
            <label for="decimals">Número de decimales para x0 y x1 (<=15)*</label>
            <p class="field-info">En algunas funciones, si no se redondea x1, termina aproximándose a la raíz verdadera, pero nunca llega a tenerse un error menor a la tolerancia. Por ejemplo, puede que se aproxime a cero en x1 = 2e-10->4e-11->5e-12->..., y se tendría un error aproximado siempre mayor a 1%</p>
            <input id="decimals" formControlName="decimals" placeholder="ej. 10" />
        </div>
        <button type="submit" [disabled]="form.invalid">Encontrar raíz</button>
    </form>

    <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
    </div>

    <div *ngIf="iterations.length > 0 && !errorMessage">
        <h2>Resultado Final</h2>
        <p><strong>Raíz encontrada:</strong> {{ root }}</p>
        <p><strong>Error:</strong> {{ iterations[iterations.length-1].error * 100 }}%</p>
        <p *ngIf="rootFoundWhenX1IsZero(iterations[iterations.length-1].x0, iterations[iterations.length-1].x1)">En ocasiones como sin((x)*(pi/180)), se llega a x1=x0=0 y se produciría división entre cero cíclica al calcular el error aproximado (denominador = 0). Para evitar esto, cuando se llega a f(x0) = 0 en algún punto, se detienen las iteraciones directamente, pues la raíz ya ha sido encontrada.</p>
        <p *ngIf="numberIsNan(iterations[iterations.length-1].error)">En algunas ocasiones, se llega a la raíz pero se obtiene NaN en el error o x1 debido a errores al evaluar la fórmula de Newton-Raphson mejorado para obtener x1. Por ejemplo, en 2x^e, f(x) y todas las derivadas son 0 en la raíz x = 0, lo que provoca una división entre cero y por ende x1 resulta NaN, pero se determina que al tener f(x)=0 la raíz ya ha sido encontrada.</p>
    </div>

    <div *ngIf="iterations.length > 0">
        <h2>Iteración {{ currentIterationIndex + 1 }} de {{ iterations.length }}</h2>
        <div class="iteration-info">
            <p><strong>x0:</strong> {{ iterations[currentIterationIndex].x0 }}</p>
            <p><strong>f(x0):</strong> {{ iterations[currentIterationIndex].fx0 }}</p>
            <p><strong>f'(x0):</strong> {{ iterations[currentIterationIndex].fpx0 }}</p>
            <p><strong>f''(x0):</strong> {{ iterations[currentIterationIndex].fppx0 }}</p>
            <p><strong>x1:</strong> {{ iterations[currentIterationIndex].x1 }}</p>
            <p><strong>Error:</strong> {{ iterations[currentIterationIndex].error * 100 }}%</p>
        </div>
        <div class="iteration-controls">
            <button (click)="prevIteration()" [disabled]="currentIterationIndex === 0">Anterior</button>
            <button (click)="nextIteration()"
                [disabled]="currentIterationIndex === iterations.length - 1">Siguiente</button>
        </div>
        <apx-chart [series]="chartSeries" [chart]="chart" [xaxis]="xaxis" [yaxis]="yaxis" [title]="title"></apx-chart>
    </div>
</div>