<nav class="sidebar" [class.open]="isOpen">
    <img
      src="../../assets/file.png"
      alt="imagen del gato boreal"
      title="Logo"
    />
    <h3>BOREAL CAT</h3>
  <ul>
    <li>
      <a
        routerLink="/gauss-seidel"
        routerLinkActive="active"
        (click)="closeSidebar()"
        >Gauss-Seidel</a
      >
    </li>
    <li>
      <a
        routerLink="/gauss-jordan"
        routerLinkActive="active"
        (click)="closeSidebar()"
        >Gauss-Jordan</a
      >
    </li>
  </ul>
</nav>
