$primary-color: #0097a7;
$secondary-color: #f9f9f9;
$border-color: #ddd;
$text-color: #333;

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.margin-section {
    margin-top: 30px;
    margin-bottom: 30px;
}

h1,
h2 {
    text-align: center;
    color: #0097a7;
    margin-bottom: 20px;
    margin-top: 50px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: inline;
    padding: 10px;
    background-color: #0097a7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

button:hover {
    background-color: darken(#0097a7, 10%);
}

.red-btn {
    background-color: #b30b0b;
    color: #fff;
}

.red-btn:hover {
    background-color: darken(#b30b0b, 5%);
}

.table-container {
    overflow-x: auto;
    max-height: 500px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    min-width: 300px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid $border-color;
}

th {
    background-color: $primary-color;
    color: #fff;
}

td input[type="number"] {
    width: 80px;
    padding: 8px;
    border: 1px solid $border-color;
    border-radius: 4px;
    box-sizing: border-box;
}

.result-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.latex-container {
    overflow-x: auto;
    max-height: 500px;
    width: 100%;
}
